$max: 12;
$angle: 360/$max;
$size: 120px;
$fill: dodgerblue;

.l-wrapper {
    position: absolute;
    width: $size*4;
    height: $size*2.3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
  
svg {
    height: $size;
    width: $size;
    margin: 0 2em 2em;
    overflow: visible;
}

@function transform($item: 1){
    $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
    @return $base;
}
  
.g--circle {
    transform-origin: $size/2 $size/2;
    fill: $fill;
    animation: opacity 1.2s linear infinite;

    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}){
            animation-delay: -#{$item/10}s;
            transform: transform($item) scale(.9);
        }
    }
}
  
.g-circles--v1 .g--circle {
    fill-opacity: 0;
    animation-name: opacity;
}
  
@keyframes opacity {
    3% {
        fill-opacity: 1;
    }
    75% {
        fill-opacity: 0;
    }
}

//loading
.loading {
    @include center;
    z-index: 9999;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    padding: 100px;
    font-family: $font-main;
    font-size: 100px;
    transition: all 0.3s;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: #fff;
    }
}

  