$max: 12;
$angle: 360/$max;
$size: 120px;
$fill: dodgerblue;

#l-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background: rgba(0,0,0,1);
    z-index: 1000;
}
#l-wrapper.white {
    background: #f0eeeb;
}
svg {
    height: $size;
    width: $size;
    margin: 0 2em 2em;
    overflow: visible;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

@function transform($item: 1){
    $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
    @return $base;
}

.g--circle {
  transform-origin: $size/2 $size/2;
  fill: $fill;
  animation: opacity 1.2s linear infinite;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      animation-delay: -#{$item/10}s;
      transform: transform($item) scale(.9);
    }
  }
}

.g-circles--v1 .g--circle {
  fill-opacity: 0;
  animation-name: opacity;
  }

.g-circles--v2 .g--circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  animation-name: opacity-stroke, colors, colors-stroke;
  .u--circle {
    //transform: scale(.6) translate(10px,10px);
    //transform-origin: 10px 10px;
    animation: transform-2 1.2s linear infinite;
  }
}

.g-circles--v2 .g--circle {
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) .u--circle{
      animation-delay: -#{$item/10}s;
    }
  }
}

.g-circles--v3 .g--circle {
  fill-opacity: 1;
  animation-name: opacity, colors;
  }

.g-circles--v4 {
  .g--circle {
    fill-opacity: 1;
    fill: orange;
    animation-name: opacity, colors-3;
  }
  .u--circle {
    animation: transform 1.2s linear infinite;
  }
}

.g-circles--v4 .g--circle {
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) .u--circle{
      animation-delay: -#{$item/10}s;
    }
  }
}


@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
  
}

@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
  
}

@keyframes colors {
  0% {
    fill: yellowgreen;
    }
  10% {
    fill: gold;
    }
  75% {
    fill: crimson;
  }
}

@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
    }
  10% {
    stroke: gold;
    }
  75% {
    stroke: crimson;
  }
}

@keyframes colors-2 {
  0% {
    fill: yellow;
    }
  50% {
    fill: red;
    }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}

@keyframes colors-3 {
  0% {
    fill: yellowgreen;
    }
  50% {
    fill: turquoise;
    }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}

@keyframes transform {
  10% {
    transform-origin: 70px 70px;
    transform: scale(.75);
    }
}

@keyframes transform-2 {
  40% {
    transform: scale(.85) translate(10px,10px);
    }
  60% {
    stroke-width: 20;
    }
}


//g
.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.hooks-main > div:nth-child(1) {
  width: 120px;
  height: 120px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 150px;
  height: 150px;
}

.hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
}

//

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f0f0f0;
}

.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
