// font
$font-main: "Saol Display";
$font-sub: "Scheherazade";
$font-basic: "Roboto";
$font-korea-main: "Chosunilbo_myungjo";
$font-korea-sub: "S-Core Dream";

$basic-font-size : 14px;
$basic-line-height : 2;


// color
$white : #fff;
$color-black : #000000;
$color-white : #f0eeeb;
